{% extends 'customer/base.html.twig' %}

{% block title %}
Cours Symfony
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
        
            {% include "customer/_messages_flash.html.twig" %}

            <h2>mes produits</h2>
            
            {% for product in products %}
                <div class="col-4">
                    <div class="card" >
                        <img src="{{ product.image }}" class="card-img-top w-100 imageCard"  alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p>{{product.category.name}}</p>
                            <p>{{ product.price | euroPrice }}</p>
                        </div>
                        <div class="card-footer">
                        <a href="#" class="btn btn-primary w-100">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
                        <h2>mes categorie</h2>
            
            {% for category in categories %}
                <div class="col-4">
                    <div class="card" >
                        <img src="{{ category.image }}" class="card-img-top w-100 imageCard"  alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                            
                        </div>
                        <div class="card-footer">
                        <a href="#" class="btn btn-primary w-100">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
